/* App container */
.app-container {
    max-width: 265px;
    margin-left: auto;
    margin-right: auto;
}

/* Display */
.display_container {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    background-color: white;
    color: black;
    border: 2px solid #555555; /* Green */
    margin: 0 1px;
}

.display {
    margin-left: auto;
}

.accumulator {
    height: 30px;
}

.input {
    height: 48px;
    font-size: 40px;
}

/* Board */
.board_container {
    display: flex;
    flex-direction: row;
}

.numbers {
    margin-right: 10px
}

.number {
    padding-top: 10px;
    margin: 1px;
    width: 60px;
    color: white;
    height: 60px;
    background-color: #008CBA;
    display: inline-block;
    text-align: center;
    font-size: 24px;
}

.number.clear, .number.dot {
    background-color: #e7e7e7; 
    color: black;
}


.operations {
    display: flex;
    flex-direction: column
}

.operation {
    flex: 1;
    padding-top: 3px;
    margin: 1px;
    width: 60px;
    font-size: 24px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.operation.cal {
    padding-top: 10px;
    background-color: #f44336;
    margin-left: 8px;
}